.editor-wrapper {
    display: none;
}

.editor-buttons{
    padding-top: 30px;
    text-align: center;
    display: none;
}

.editor-title {
    font-size: large;
    text-align: center;
    padding: 10px 0 0 0;
    font-style: italic;
}

.tabs-header-wrapper{
    margin: 20px 5px;
}

.tab-title{
    margin: 5px 0;
    padding: 10px;
    display: inline-block;
    border: 3px solid #f2f2f2;
    border-radius: 3px 3px 3px 3px;
    background: #f2f2f2;
}

.tab-title:hover{
    cursor: pointer;
    font-weight: bold;
    border-bottom: 3px solid #9cbdf2;
}

.tab-title-active{
    font-weight: bold;
    border-bottom: 3px solid #FF6531;
}

.tab-content{
    display: none;
}

.tab-content-active{
    display: block;
}

.matrix-input{
    text-align: center;
    width: 100%;
}

.content-element{
    margin: 10px;
}