body {
    font-family: "Courier New";
}
.materials-menu-title {
    padding: 15px;
    font-family: "sans-serif";
    color: #6698CB;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.materials-menu-search {
    margin: 10px 0;
}

.custom-input {
    font-style: italic;
    width: 100%;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
}

.custom-input:focus{
    outline-style: none;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom: 1px solid black;
}

.submenu-header{
    position: relative;
    font-size: 15px;
    cursor: pointer;
    padding: 10px 30px;
    background: linear-gradient(
            to left,
            #fffefd 98%,
            #9CBDF2 2%
    );
    transition: background 0.3s ease-out;
}

.submenu-header:hover{
    background-position: 10px;
    font-weight: bold;
}

.submenu-header-text, .submenu-header-icons {
    display: inline-block;
}

.submenu-header-icons {
    position: absolute;
    right: 5px;
    color: #F2F2F2;
    font-size: 20px;
}

.search-icon:hover {
    color: #FF6531;
}

.items-wrapper{
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #F2F2F2;
    margin-bottom: 10px;
}

.submenu-items {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-out;
    margin: 5px 0 5px 10px;
}

.submenu-active {
    max-height: 270px;
    width: calc(100% + 25px);
    overflow-y: auto;
}

.submenu-item {
    padding: 8px;
    cursor: pointer;
    background: linear-gradient(
            to left,
            #fffefd 98%,
            #F2F2F2 2%
    );
}

.submenu-item-text {
    padding-left: 20px;
    font-style: italic;
}

.submenu-item:hover{
    font-weight: bold;
    background: linear-gradient(
            to left,
            #fffefd 98%,
            #FF6531 2%
    );
}

.selected-material{
    font-weight: bold;
    background: linear-gradient(
            to left,
            #fffefd 98%,
            #9CBDF2 2%
    );
}

.separator {
    border-top: 1px solid #F2F2F2;
    width: 100%;
}

.separator-active {
    border-top: 1px solid #9CBDF2;
    width: 100%;
}
