<div class="materials-menu">
    <div class="materials-menu-title">
        MATERIALS
    </div>
    <div class="materials-menu-search">
        <!--<input type="text" class="search-input" placeholder="Введите название">-->
    </div>
</div>