<div class="editor-title"></div>
<div class="tabs-wrapper">
    <div class="tabs-header-wrapper"></div>

    <div class="tabs-content-wrapper"></div>
</div>

<div class="editor-buttons">
    <button type="button" class="btn btn-primary" ng-click="saveData()">Сохранить</button>
</div>